    
    img{
        display: block;
        margin: 8px 0;
        max-width: 240px;
    }
    
    * {
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        background-color: #fff;
    }
    
    header, footer {
        color: white;
        padding: 8px 16px;
        width: 100%;
        background-color: rgb(34, 32, 38);
    }
    
    main {
        color: rgb(34, 32, 38);
        padding: 8px 16px;
        width: 100%;
        background-color: whitesmoke;
    }
        
    nav {
        color: rgb(34, 32, 38);
        padding: 8px 16px;
        width: 100%;
        background-color: rgb(175, 175, 175);
    }

    nav ul {
        display: flex;
        justify-content: left;
        list-style: none;  
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    nav ul li a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(34, 32, 38);
        padding: 6px 12px;
        border-radius: 4px;
    }

    nav ul li a:hover {
        background-color: rgb(34, 32, 38);
        color: rgb(255, 255, 255);
    }

    .button {
        background-color: #b22222;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-weight: bold;
    }
    .button:hover {
        background-color: #8b0000;
    }

    article {

        box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
            0px 5px 4px rgba(3, 7, 18, 0.03),
            0px 12px 9px rgba(3, 7, 18, 0.05),
            0px 20px 15px rgba(3, 7, 18, 0.06),
            0px 32px 24px rgba(3, 7, 18, 0.08);
        border-radius: 8px;
        margin: 8px 0;
        padding: 16px;
        background-color: rgb(240, 240, 240);
    }

    section, aside {
        border: 1px solid rgba(128, 128, 128, 0.255);
        border-radius: 4px;
        margin: 8px 0;
        padding: 8px;
        }
        
    section {
        background-color: rgb(255, 255, 255);
        }

    th, td {
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #efefef;
        font-weight: 550;
    }

    caption
    {
        caption-side: bottom;
        font-size: 0.9em;
        color: #555;
        margin-top: 4px;
    }

    .step {
        font-weight: 550;
        color: #3f0000;
    }

